.jumbotron{
  background-color: lightblue;
  width: 70%;
  margin: 50px auto 10px auto;
}



.ingredient-list{
  margin-top: 25px;
}



a:hover{
  cursor: pointer;
}

.edit-box{
  width: 85%;
  margin: 30px auto ;
}

.btn{
  margin: 0 10px;
}

.btn-lg{
  margin: 0 5px;
}